<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../components/user-item.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="dashboard-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .people-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 1em;
        justify-items: center;
      }
    </style>

    <div class="card">
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iusto in eum recusandae, sint maiores ratione! Similique mollitia
      eveniet possimus voluptatem labore repellat, accusamus rem sed! Nulla molestias ut culpa!</p>
      
      <iron-ajax
        url="/api/people"
        handle-as="json"
        on-response="_onLoadPeople">
      </iron-ajax>

      <div class="people-list">
        <template is="dom-repeat" items="[[people]]" as="person">
          <user-item data="[[person]]" selected-user="{{selectedUser}}"></user-item>
        </template>
      </div>
      
      <button on-click="_changeRoute">change to person detail</button>
      
    </div>

  </template>

  <script>
    class dashboardView extends (class extends Polymer.Element {}) {
      
      static get is() { return 'dashboard-view'; }

      static get properties() { 
        return {
          people: {
            type: Array,
            notify: true,
            value: () => []
          },
          selectedUser: {
            type: Object,
            notify: true,
            value: () => ({})
          }
        }
      }

      _changeRoute() {
        var event = new CustomEvent(
          'change-route', { 
            detail:  { 
              newRoute: 'detail'
            },
            composed: true
          }
        );

        this.dispatchEvent(event);
      }

      ready() {
        super.ready();
        this.shadowRoot.querySelector('iron-ajax').generateRequest();
      }
      
      _onLoadPeople(event) {
        let people = event.target.lastResponse;
        this.set('people', people);
      }
    }

    window.customElements.define(dashboardView.is, dashboardView);
  </script>
</dom-module>
