<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="dashboard-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iusto in eum recusandae, sint maiores ratione! Similique mollitia
      eveniet possimus voluptatem labore repellat, accusamus rem sed! Nulla molestias ut culpa!</p>
      
      <button on-click="_changeRoute">change to person detail</button>
    </div>

  </template>

  <script>
    class dashboardView extends (class extends Polymer.Element {}) {
      
      static get is() { return 'dashboard-view'; }

      static get properties() { 
        return {
          people: {
            type: Array,
            notify: true,
            value: () => []
          }
        }
      }

      _changeRoute() {
        var event = new CustomEvent(
          'change-route', { 
            detail:  { 
              newRoute: 'detail'
            },
            composed: true
          }
        );

        this.dispatchEvent(event);
      }

      ready() {
        super.ready();
        this._loadPeople();
      }

      _loadPeople() {
        let url = 'data/people.json';
        fetch(url)
          .then((resp) => resp.json())
          .then((data) => {
            this.set('people', data.people);
          })
          .catch(() => { console.error('error loading people.json') });
      
      }
    }

    window.customElements.define(dashboardView.is, dashboardView);
  </script>
</dom-module>
