<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../../bower_components/ability-chart/ability-chart.html">

<dom-module id="detail-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      
      <p>traza: [[person.name]]</p>

      <ability-chart
        prop="[[chartProperties]]">
      </ability-chart>

    </div>
  </template>

  <script>
    class detailView extends (class extends Polymer.Element {}) {
      
      static get is() { return 'detail-view'; }

      static get properties() {
        return {
          person: {
            type: Object,
            value: () => ({})
          },
          chartProperties: {
            type: Object,
            value: {
              "dimension": 500,
              "numLayer": 5,
              "eachLayerStyle": [
                {
                  "fillColor": "#f5f5f5",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#e6e6e6",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#f5f5f5",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#e6e6e6",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#f5f5f5",
                  "borderColor": "#bbbbbb"
                }
              ],
              "labelFont": "13px Arial",
              "labelFontColor": "#7a7a7a",
              "labelOffset": 10,
              "frameBorderWidth": 1,
              "chartBorderWidth": 2,
              "decorLineColor": "#bbbbbb",
              "chartPortion": 0.75,
              "chartAlpha": 0.95,
              "scale": {
                "font": "bold 12px Arial",
                "fontColor": "black",
                "offset": 12,
                "scaleLabel": ["0", "20", "40", "60", "80", "100"]
              },
              "datasets": {
                "keys": [
                  "Strength", "Stamina", "Perception",
                  "Creativity", "Charisma", "Confidence",
                  "Spirituality", "Discipline", "Luck", "Humor",
                  "Social Skill"
                ],
                "values": [
                  [85, 39, 55, 77, 95, 84, 50, 90, 69, 80, 30]
                ],
                "styles": [
                  { "borderColor": "#334b5c" },
                  { "borderColor": "#d53c37" }
                ]
              }
            }
          }
        }
      }

    }

    window.customElements.define(detailView.is, detailView);
  </script>
</dom-module>
