<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../../bower_components/ability-chart/ability-chart.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../components/user-item.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-expansion-panel/paper-expansion-panel.html">
<link rel="import" href="../components/skills-updater.html">

<dom-module id="detail-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .main-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .main-wrapper user-item {
        --user-item: {
          border: none;
          box-shadow: none;
          cursor: default;
        }
        --user-item-hover: {
          box-shadow: none;
        }
      }

      .main-wrapper .chart-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
      }

      user-item, .chart-container {
        animation: fadeIn ease 2s;
      }

      @keyframes fadeIn{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }

      @media (min-width: 750px) {
        .main-wrapper {
          align-items: flex-start;
        }
      }

    </style>

    <div class="main-wrapper">

      <user-item class="fade-in" data="[[person]]"></user-item>

      <iron-ajax
        url="[[endpointUrl]]"
        handle-as="json"
        on-response="_onLoadParticipantdetail">
      </iron-ajax>

      <template is="dom-if" if="{{_areSkillsReady(skillsReady)}}">
        <div class="chart-wrapper">
          
          <div class="chart-container">
            <ability-chart class="fade-in" id="technicalChart" prop="[[technicalChartProperties]]">
            </ability-chart>
            <paper-expansion-panel header="Skills técnicas">
              <skills-updater skills="[[technicalSkills]]" person="[[person]]"></skills-updater>
            </paper-expansion-panel>
          </div>  
          
          <div class="chart-container">
            <ability-chart id="softChart" prop="[[softChartProperties]]">
            </ability-chart>
            <paper-expansion-panel header="Skills soft">
              <skills-updater skills="[[softSkills]]" person="[[person]]"></skills-updater>
            </paper-expansion-panel>
          </div>
        </div>
      </template>

    </div>
      
  </template>

  <script>
    class detailView extends (class extends Polymer.Element {}) {
      
      static get is() { return 'detail-view'; }

      static get properties() {
        return {
          person: {
            type: Object,
            observer: '_onUserLoaded',
            value: () => ({})
          },
          commonChartProperties: {
            type: Object,
            value: {
              "dimension": 400,
              "numLayer": 3,
              "eachLayerStyle": [
                {
                  "fillColor": "#54ffac",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#fcb853",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#ff5959",
                  "borderColor": "#bbbbbb"
                }
              ],
              "labelFont": "13px Arial",
              "labelFontColor": "#7a7a7a",
              "labelOffset": 10,
              "frameBorderWidth": 1,
              "chartBorderWidth": 2,
              "decorLineColor": "#bbbbbb",
              "chartPortion": 0.75,
              "chartAlpha": 0.95,
              "scale": {
                "font": "bold 12px Arial",
                "fontColor": "black",
                "offset": 12,
                "scaleLabel": ["0", "33", "66", "99"]
              },
              "datasets": {
                "keys": [],
                "values": [],
                "styles": [
                  { "borderColor": "#334b5c" },
                  { "borderColor": "#d53c37" }
                ]
              }
            }
          },
          technicalChartProperties: {
            type: Object,
            value: () => ({})
          },
          softChartProperties: {
            type: Object,
            value: () => ({})
          },
          skillsReady: {
            type: Boolean,
            value: false
          },
          softSkills: {
            type: Array,
            value: () => []
          },
          technicalSkills: {
            type: Array,
            value: () => []
          }
        }
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();
        
        Polymer.RenderStatus.afterNextRender(this, function () {
          this.addEventListener('updated-skills', this._updateChart);
        });
      }

      _areSkillsReady(skillsReady) {
        return skillsReady;
      }

      _onUserLoaded(user) {
        if (!!Object.keys(user).length) {
          this.endpointUrl = `/api/participants/${user.id}`;
          this.shadowRoot.querySelector('iron-ajax').generateRequest();
          this.set('softSkills', []);
          this.set('technicalSkills', []);
        }
      }

      _onLoadParticipantdetail(event) {
        let skills = event.target.lastResponse.skills;
        this._processChartData(skills);
      }

      _processChartData(skills) {
        this._initChartProperties();
        this._initSkillsUpdater(skills);
        this._initChartValues(skills);
        this.skillsReady = true;
        //workaround because I dont know when ability-chart is built;
        setTimeout(() => {
          this._drawCharts(['#technicalChart', '#softChart']);
        }, 0);
      }
      
      _formatSkillsResponse(skills) {
        let filteredSkills = {
          softSkills: {
            keys: [],
            values: [[]]
          },
          technicalSkills: {
            keys: [],
            values: [[]]
          }
        };
        skills.forEach(skill => {
          if(skill.type === 'SOFT') {
            filteredSkills.softSkills.keys.push(skill.description);
            filteredSkills.softSkills.values[0].push(skill.percentage);
          } else {
            filteredSkills.technicalSkills.keys.push(skill.description);
            filteredSkills.technicalSkills.values[0].push(skill.percentage);
          }
        });
        return filteredSkills;
      }
      
      _initSkillsUpdater(skills) {
        skills.forEach((skill) => skill.type === 'SOFT' ? this.push('softSkills', skill) : this.push('technicalSkills', skill));
      }

      _initChartProperties() {
        this.set('technicalChartProperties', JSON.parse(JSON.stringify(this.commonChartProperties)));
        this.set('softChartProperties', JSON.parse(JSON.stringify(this.commonChartProperties)));
      }

      _initChartValues(skills) {
        let filteredSkills = this._formatSkillsResponse(skills);
        this.set('technicalChartProperties.datasets.keys', filteredSkills.technicalSkills.keys);
        this.set('technicalChartProperties.datasets.values', filteredSkills.technicalSkills.values);
        this.set('softChartProperties.datasets.keys', filteredSkills.softSkills.keys);
        this.set('softChartProperties.datasets.values', filteredSkills.softSkills.values);
      }

      _drawCharts(charts) {
        charts.map((chartName) => this.shadowRoot.querySelector(chartName).buildChart());
      }

      _updateChart(event) {
        const type = event.detail.type;
        const skills = event.detail.skills;
        if(type === 'SOFT') {
          this.set('softSkills', []);
        } else {
          this.set('technicalSkills', []);
        }
        this._processChartData(skills);
      }

    }

    window.customElements.define(detailView.is, detailView);
  </script>
</dom-module>
