<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../../bower_components/ability-chart/ability-chart.html">
<link rel="import" href="../components/user-item.html">

<dom-module id="detail-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .card {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .card user-item {
        --user-item: {
          border: none;
          box-shadow: none;
          cursor: default;
        }
        --user-item-hover: {
          box-shadow: none;
        }
      }

      .card .chart-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
      }

      @media (min-width: 750px) {
        .card {
          align-items: flex-start;
        }
      }

    </style>

    <div class="card">

      <user-item data="[[person]]"></user-item>

      <div class="chart-wrapper">

        <ability-chart id="technicalChart" prop="[[technicalChartProperties]]">
        </ability-chart>

        <ability-chart id="softChart" prop="[[softChartProperties]]">
        </ability-chart>

      </div>
      

    </div>
  </template>

  <script>
    class detailView extends (class extends Polymer.Element {}) {
      
      static get is() { return 'detail-view'; }

      static get properties() {
        return {
          person: {
            type: Object,
            observer: '_onUserLoaded',
            value: () => ({})
          },
          commonChartProperties: {
            type: Object,
            value: {
              "dimension": 400,
              "numLayer": 3,
              "eachLayerStyle": [
                {
                  "fillColor": "#54ffac",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#fcb853",
                  "borderColor": "#bbbbbb"
                },
                {
                  "fillColor": "#ff5959",
                  "borderColor": "#bbbbbb"
                }
              ],
              "labelFont": "13px Arial",
              "labelFontColor": "#7a7a7a",
              "labelOffset": 10,
              "frameBorderWidth": 1,
              "chartBorderWidth": 2,
              "decorLineColor": "#bbbbbb",
              "chartPortion": 0.75,
              "chartAlpha": 0.95,
              "scale": {
                "font": "bold 12px Arial",
                "fontColor": "black",
                "offset": 12,
                "scaleLabel": ["0", "33", "66", "99"]
              },
              "datasets": {
                "keys": [],
                "values": [],
                "styles": [
                  { "borderColor": "#334b5c" },
                  { "borderColor": "#d53c37" }
                ]
              }
            }
          },
          technicalChartProperties: {
            type: Object,
            value: () => ({})
          },
          softChartProperties: {
            type: Object,
            value: () => ({})
          }
        }
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();
        
        Polymer.RenderStatus.afterNextRender(this, function () {

        });
      }

      _onUserLoaded(user) {
        if (!!Object.keys(user).length) {
          this._initChartProperties();
          this._initChartValues('technicalChartProperties', 'technical');
          this._initChartValues('softChartProperties', 'soft');
          this._drawCharts(['#technicalChart', '#softChart']);
        }
      }

      _initChartProperties() {
        this.set('technicalChartProperties', JSON.parse(JSON.stringify(this.commonChartProperties)));
        this.set('softChartProperties', JSON.parse(JSON.stringify(this.commonChartProperties)));
      }

      _initChartValues(property, type) {
        this.set(`${property}.datasets.keys`, this.person.skills[type].keys);
        this.set(`${property}.datasets.values`, this.person.skills[type].values);
      }

      _drawCharts(charts) {
        charts.map((chartName) => this.shadowRoot.querySelector(chartName).buildChart());
      }

    }

    window.customElements.define(detailView.is, detailView);
  </script>
</dom-module>
